// ABOUT SECTION
.about {
  #skill-icons {
    background: $secondary-color;
  }
  &-skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .html {
    //   color: #f16529;
    color: #e44d26;
  }
  .css {
    //   color: #45a0d9;
    color: #2062af;
  }
  .word {
    color: #000;
  }
  .sass {
    color: #cf649a;
  }
  .boot {
    color: #7952b3;
  }
  .js {
    color: #f0db4f;
  }
  &-me-content {
    line-height: 2;
    .text-2 {
      text-align: start;
    }
  }

  .site-content {
    //   background: $dark-color;

    .about-grid {
      display: grid;
      // grid-template-columns: minmax(200px, 1fr);
      grid-template-columns: repeat(2, 1fr);

      grid-gap: 0.2rem;

      .items {
        .icon {
          padding: 25px 0px 0px 0px;
          font-size: 2rem;
        }
        .anim-bg {
          background: $light-color;
          // color: #fff;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          overflow: hidden;
          position: relative;
          display: flex;
          flex-direction: column;
        }

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
        align-items: center;
        height: 200px;
        margin: auto 0;
        padding: 1rem;
        &:nth-child(odd) {
          background-color: $secondary-color;
        }
        &:nth-child(even) {
          background-color: $primary-color;
        }
        .upper {
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }
  }
}
