.footer {
  background: #b2f5f175;
  padding: 3rem;
  font-size: 0.9rem;

  &-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
    color: #1e836c;
  }
  &-link {
    color: #1e836c;
    transition: all 0.4s ease;
    &:hover,
    &:active {
      color: #0c362cf8;
      font-weight: 400;
    }
  }
  #rights {
    text-align: center;
    padding-bottom: 1rem;
    & > a {
      color: #1e836c;
      &:hover,
      &:active {
        color: #0c362cf8;
        font-weight: 400;
      }
    }
  }
}
